
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'crear_productos' %}">Crear productos</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>