{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1 text-center">REDstampacion</h1>
    <p>Estampa y Visualiza en tiempo real con nuestro modelo 3d de estampacion de camisetas compra sin miedo y recibe exactamente lo que buscas.</p>

    <div class="text-center">
        <a class="btn btn-danger" href="/signup/">
            Registrarse
        </a>
        <a class="btn btn-warning" href="/signin/">
            Iniciar Sesion
        </a>
    </div>
</section>
</main>



{% endblock %}