{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>CRUD de Gestión de Pedidos en Django con Autenticación: Sistema robusto con protección de rutas y control de sesión, donde cada usuario gestiona exclusivamente su propio contenido. Incluye un panel de superusuario con permisos globales para la administración, edición y eliminación total de tareas en la plataforma.</p>

    <div class="text-center">
        <a class="btn btn-success" href="/signup/">
            Registrarse
        </a>
        <a class="btn btn-success" style="background-color:#157347; border-color:#157347;">
            Iniciar Sesion
        </a>
    </div>
</section>
</main>



{% endblock %}